@mixin media($breakpoint) {
  @media screen and (min-width: getBreakPoint($breakpoint)) {
    @content
  }
} 

@mixin multi-transition($properties, $duration: 500ms, $timing-function: cubic-bezier(0.4, 0, 0.2, 1), $delay: 0s) {
    $transitions: (
    );

@if type-of($properties)=="list" {
    @each $prop in $properties {
        $transitions: append($transitions, #{$prop} $duration $timing-function $delay, comma);
    }
}

@else {
    $transitions: #{$properties} $duration $timing-function $delay;
}

transition: $transitions;
}